
<form name="walletform "action= "wallet.php "method="post">
<p>
<label class="input1" for="text1">Wallet Phone Number</label>
<input id="text1" name="wphone" class="required" />
</p>
</form>
<script>
    document.walletform.submit(); //automatically submits the form
</script>